<h1>My Profile</h1>

<div class="wrapper">
  <div class="container">
    <h1><%= current_user.first_name %> - <%= current_user.last_name %></h1>
    <h2><%= current_user.email %></h2>
  </div>
</div>


