// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #6BB4D6;
$yellow: #FDB631;
$orange: #E67E22;
$green: #C9F1B2;
$gray: #000000;
$light-blue: #EFF8F8;
$light-gray: #D8D8D8;
