// Specific CSS for your home-page
// .container{
//   min-height: 100vh;
// }
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.green {
  color: $green;
}

// search bar

.search-wrapper {
  background-color: rgba(255, 255, 255,0.5);
  border-radius: 4px;
  padding: 40px 64px;
  margin-top: 40px;
}

.inline-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $headers-font;
  font-weight: lighter;
  font-size: 14px;
  z-index: 100;
}

#home-search-query {
  border-radius: 6px;
  border: none;
  margin: 5px;
}

#home-search-submit {
  border-radius: 6px;
}

#home-search-query-nav {
  border-radius: 6px;
  border: none;
  margin: 5px;
}
