.supplier-profile {
  border-right: 2px solid $light-gray;
}

// talent selection
.supplier-talents {
  padding-top: 15%;
}

legend {
  font-family: $headers-font;
  font-size: 24px;
  font-weight: bold;
  border-bottom: none;
}

.collection_radio_buttons {
  margin-left: 10px;
  padding-top: 4px;
  font-family: $body-font;
  font-weight: normal;
}

// rest of form
.form-control-label, .file label {
  font-family: $headers-font;
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.end-of-form {
  margin-top: 24px;
  margin-bottom: 56px;
}
