.banner-profile {
  background-color: silver;
  background-size:cover;
  background-position: center;
  height: 350px;
  margin-left: 35px;
  margin-right: 35px;
  position: relative;
  z-index: 200;
}

.profile-page {
  margin-top: -60px;
}

.skill-genre {
  font-weight: normal;
  em {
  color: darken($green, 15%);
  font-style: normal;
  font-weight: normal;
  }
}

.profile-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;
  background-color: white;
  margin-right: 35px;
  border-radius: 4px;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 990px) {
  .banner-profile {
    margin-left: 0;
    margin-right: 0;
  }
  .profile-bar {
    flex-direction: column;
    margin-right: 0;
    align-items: center;
  }
  .profile-details {
    margin-top: 6px;
    text-align: center;
  }
}

.profile-pic {
  border-radius: 3px;
  // transform: translateX(-35px);
  position: relative;
  z-index: 300;
}

.profile-details {
  width: 100%;
  padding: 0 15px;
  .profile-name {
    font-size: 24px;
    margin: 0 0 6px;
  }
  p {
    margin: 0 0 10px;
  }
}

.request {
  height: 50px;
  margin: 15px;
}

h4.edit-profile {
  a {
    color: $green;
  }
  a:hover {
    font-weight: 400;
  }
}

.profile-content {
  margin-left: 20px;
  margin-right: 20px;
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  h2 {
    font-size: 18px;
    margin-top: 5px;
  }
  h4 {
    font-weight: lighter;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px
  }
}

.bio {
  text-align: justify;
}

.values {
  font-weight: normal;
}

.albums {
  img {
    margin: 0px 10px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-box {
  height: 250px !important;
}


p {
  font-size: 14;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.8);
}

ul.skills-list {
  list-style: none;
  padding: 0;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
}


