#profiles-list {
  margin-top: 16px;
  list-style: none;
}

.profile-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // height: 200px;
  border-radius: 4px;
  margin: 16px 0;
  padding: 8px 16px;
  background-color: rgba(201, 241, 178, 0);
  // border-bottom: 1px solid $light-gray;

  transition: background-color .15s linear ;

  &:hover {
    background-color: rgba(201, 241, 178, 1);
  }
}

.text {
  margin-left: 30px;
}







