.job-container {
  padding: 40px 80px;
  margin: 40px;
}

.job-box {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.1);
  h6 {
    font-weight: lighter;
  }
  a {
  text-decoration: none;
  color: black;
  }
  button {
    margin: 20px;
  }
}

#price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  input.numeric {
    width: 80px;
  }
  .btn {
    margin: 10px;
  }
}

.client {
  text-align: center;
}

.job-show-grid {
  display: grid;
  grid-template-columns: 30vw 1fr;
  grid-template-rows: 40% 20% 20% 20%;
}

.supplier {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: block;
  text-align: center;
    h4 {
      color: $green;
    }
  }

.supplier-content {
  text-align: left;
  display: flex;
  // justify-content: center;
  align-items: center;
  a:hover {
    color: $green;
  }
}

.status {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;

}

.price {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 3 / span 2;
  grid-column: 1 / span 1;
  span {
    color: $green;
  }
}

.confirmation-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .btn {
    margin: 20px;
  }
}

.conversation {
  grid-row: 2 / span 3;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.new-msg {
  input {
    margin-right: 16px;
    padding: 16px;
    height: 100px;
    width: 100%;
  }
}

.index-msgs {
  margin-top: 16px;
}

h5.msg-header {
  font-weight: lighter;
}

strong.msg-header {
  font-weight: normal;
}

form.new-msg {
  width: 100%;
}

.new-message {
  width: 80%;
  text-align: center;
  margin-top: 10px;
}

// #client {
//   position: absolute;
//   top: 3px;
//   left: 5px;
//   color: $green;
//   h6 {

