.supplier {
  display: flex;
  // justify-content: center;
  align-items: center;
}
.status {

}
.conversation {

}

.new-msg {
  input {
    margin-right: 16px;
    padding: 16px;
    height: 100px;
    width: 100%;
  }
}

.index-msgs {
  margin-top: 16px;
}
