<h1>Jobs#index</h1>
<p>Find me in app/views/jobs/index.html.erb</p>

<div class="container">
  <div class="row">
      <% @jobs.each do |job| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= link_to '', job, class: "card-link" %>
          <div class="card-background" style="background-image: linear-gradient(rgba(60,0,0,0.25), rgba(60,0,0,0.15));"></div>
          <div class="card-description">
            <h2><%= job.talent.user %></h2>
            <p><%= job.price %></p>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>

