<h1>Jobs#new</h1>
<p>Find me in app/views/jobs/new.html.erb</p>

<div class="box">
  <h2>Job Recap</h2>
  <h3><%= @supplier.first_name.capitalize @supplier.last_name.capitalize %></h3>
  <p>Job completed: <%= @job.completed %></p>
  <p><%= job.talent.name %></p>
</div>
<div class="box">
  <h2>Conversation</h2>
</div>
<div class="box">
  <h2>Upload a file</h2>
</div>
