<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

<div class="container">
  <div class="box text-center">
    <h3><%= @supplier.first_name.capitalize @supplier.last_name.capitalize %></h3>
    <p>Job completed: <%= @job.completed %></p>
    <p><%= job.talent.name %></p>
  </div>
</div>
