<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

<div class="container-fluid">
  <div class="grid">
    <div class="box supplier">

    </div>
    <div class="box status">

    </div>
    <div class="box conversation">
      <div class="new-msg">

      </div>
      <div class="index-msgs">

      </div>
    </div>
  </div>
</div>
