<!-- <form class="form-inline" action="/profiles" method="get" id="nav-search-bar">
  <div class="input-group input-group-sm">
    <input type="text" placeholder="Find a music pro..." class="form-control" id="search-query">
    <span class="input-group-btn">
      <button name="button" type="submit" class="btn btn-default" id="search-submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </span>
  </div>
</form> -->
<div id="nav-search-wrapper">
  <form action="/profiles" method="get" id="nav-search-bar">
    <div class="inline-input input-group-sm"">
      <input type="text" placeholder="Search by artist, album, talent..." class="form-control" id="nav-search-query">
      <span >
        <button name="button" type="submit" class="btn btn-default" id="nav-search-submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </form>
</div>
