<% if user_signed_in? %>
  <!-- Links when logged in -->
  <div class="wrapper">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.8) 0%, rgba(0,36,61,0.8) 50%), url(<%= image_path 'Home_banner-R0000393.JPG'%>);">
      <div class="banner-content">
        <h1>Content when logged in to be added</h1>
      </div>
    </div>
  </div>
<% else %>
  <!-- Login link (when logged out) -->
  <div class="wrapper">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'Home_banner-R0000393.JPG'%>);">
      <div class="banner-content">
        <h1>Welcome to Twerk</h1>
        <p>Find & book a Music Pro</p>
        <a class="btn btn-primary btn-lg">Join now</a>
      </div>
    </div>
  </div>
<% end %>
