<% if user_signed_in? %>
  <!-- Links when logged in -->
  <div class="wrapper">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(239, 248, 248, 0.4), rgba(0,36,61,0.8) 50%), url(<%= image_path 'Home_banner-R0000393.JPG'%>);">
      <div class="banner-content">
        <h2>What are you looking for today ?</h2>
        <div class="search-wrapper">
          <form " action="/profiles" method="get" id="home-search-bar">
            <div class="inline-input">
              <input type="text" placeholder="Search by artist, album, talent..." class="form-control" id="home-search-query">
              <span >
                <button name="button" type="submit" class="btn btn-success" id="home-search-submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <!-- Login link (when logged out) -->
  <div class="wrapper">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(239, 248, 248, 0.4) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'Home_banner-R0000393.JPG'%>);">
      <div class="banner-content">
        <h1>This is <span class="green">twerk</span></h1>
        <p>Find & book a Music Professional</p>
        <%= link_to new_user_session_path, class: "btn btn-success btn-lg" do %>
          <span>Join now</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
