.box {
  margin: 16px auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.1);
  padding: 16px;
  h6 {
    font-weight: lighter;
  }
  a {
  text-decoration: none;
  color: black;
  }
}
