// search bar
#nav-search-bar {
  margin-left: 46px;
  width: 100%;
}

.inline-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $headers-font;
  font-weight: lighter;
  font-size: 14px;
  width: 100%;
}

#nav-search-query {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 0;
  height: 39px;
}

#nav-search-submit {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 6px;
}
